
/* The whole page shared element */

.app-container {
    background-color: rgba(152, 215, 228, 0.6);
    padding-left: 50px;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #F3F4F6;
}

.page-container {
    margin: 4em;
    &#home {
        text-align: center;
    }
}

/* All pages shared the same style of nav bar */

nav {
    width: 100%;
    background-color: rgba(253, 250, 180, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .nav-links {
        list-style: none;
        display: flex;
        .nav-icon a {
            display: inline-block;
            text-decoration: none;
            color: rgb(0, 0, 0);
            padding: 1em;
            margin-right: 2em;
            &:hover {
                color: rgb(235, 101, 130);
                font-weight: bold;
            }
        }
    }
}

nav.vertical {
    width: 150px;
    height: 100vh;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 0;
    .nav-links {
        flex-direction: column;
        .nav-item a {
            display: block;
            padding: 4em 0;
            
        }
    }

}

/* Content style */

h1 {
    margin-top: 150px;
    font-size: 60px;
    font-weight: bold;
    color:rgb(44, 43, 43);
}

h2 {
  margin-top: 60px;
  font-size: 20px;
  color:rgb(44, 43, 43);
}

p {
    margin-top: 100px;
    font-size: 20px;
    color:rgb(44, 43, 43);
}


/* Music player reference: "https://www.youtube.com/watch?v=QTHRWGn_sJw", 
    "https://github.com/bradtraversy/vanillawebprojects/blob/master/music-player/index.html" */

  .music-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    width: 250px;
    margin-left: 700px;
    z-index: 10;
  }
  
  // Player buttons style

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .action-btn {
    background-color: #fff;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
  }
  
  .action-btn.action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
  }
  
  .action-btn:focus {
    outline: 0;
  }
  
  .music-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
  }
  
  .music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
  }
  
  .music-info h4 {
    margin: 0;
  }
  
  // Progress bar style

  .progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }
  
  .progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }

  // Media Queries

  @media only screen and (max-width: 768px) {
    .app-container {
      size: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }